@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', cursive;
    background-image:url("../media/logo/nen.jpg");
    background-repeat: repeat;
    color: #bacbe6;

}
section.section1{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../media/logo/background.jpg);
    background-size: 100%;
    background-repeat:no-repeat ;

}
.dong{
    transform: translate(1200%,450%);
    width: 50px;
    height: 50px;
    background-image: url("../media/astronaut.png");
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;


}
@keyframes example{
    0%   {background-image:url("../media/astronaut.png");right:0px; top:0px;}
    25%  {background-image:url("../media/astronaut.png"); right:30px; top:0px;}
    50%  {background-image:url("../media/astronaut.png"); right:30px; top:30px;}
    75%  {background-image:url("../media/astronaut.png"); right:0px; top:30px;}
    100% {background-image:url("../media/astronaut.png"); right:0px; top:0px;}
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.4);
    padding: 0 100px ;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}
.marqueee{
    text-shadow: 0 1px 2px;
}
nav .brand{
    float: left;
    height: 100%;
    line-height: 80px;
}
nav .brand h2{
    margin: 0;
    padding: 0;
    color: #fff;
}
nav ul{
    float: right;
    display: flex;
    margin:0;
    padding: 0;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s
}

nav ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition:  transform 0.5s;

}
nav ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1);
}
nav ul li a:hover{
    color: #262626;
}
.section2{
    padding: 15px;
    letter-spacing: .1em;
    font-family: Quantico;
    font-weight: 700;
    font-style: normal;
    color: #f9fcfd;
    font-size: 32px;
    text-shadow: 0 1px 2px;
}
.stylish-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
    margin-bottom: 65px;
}










