header{
    background-image: url("../media/img123.png");
    position: relative;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 0;
    overflow: hidden;
    border: none;
    width: 100%;
    height: 180px;
    color: white;
}
.section2 p{
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}
.background-section{
    background-image: url("../media/hero-map.png");
    width: 100%;
    ruby-align: center;
}
.section2 i{
    font-size: 30px;
}
.hrr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 111, 254), rgba(0, 0, 0, 0));
    margin-bottom: 65px;
    text-decoration-line:overline;

}
.contact-form{
    display: flex;
}
.button-send{
    border-image: -webkit-linear-gradient(45deg, #14a5d3, #20baa0) 10 stretch;
    width: 150px;
    height: 40px;
    background: rgba(0,0,0,0.06);
}
.social{
    display: flex;
}
.social-icon{
    background-color: #233144;
    padding: 20px;
    font-size: xx-large;
    color: #FFFFFF;
    border-color: #233144;
}
.social-icon