@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image:url("../media/logo/nen.jpg");
    background-repeat: repeat;
    color: #bacbe6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;

}
/*search*/

/*search end*/

section.section1 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(../media/logo/background.jpg);
    opacity: 0.85;
    background-size: 100%;
    background-repeat: no-repeat;
}

#text {
    font-size: 70px;
    margin: 20px 0;
    text-align: left;
    color: #ffffff;
    font-family: 'Chakra Petch', sans-serif;
}
.char {
    display: inline-block;
    opacity: 0;
    animation: type 6s forwards;
}
@keyframes type {
    to {
        opacity: 1;
    }
}

.dong{
    transform: translate(1200%,450%);
    width: 5px;
    height: 0;
    background-image: url("../media/astronaut.png");
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    margin-top: 200px;


}
@keyframes example{
    0%   {background-image:url("../media/astronaut.png");right:0; top:0;}
    25%  {background-image:url("../media/astronaut.png"); right:30px; top:0;}
    50%  {background-image:url("../media/astronaut.png"); right:30px; top:30px;}
    75%  {background-image:url("../media/astronaut.png"); right:0; top:30px;}
    100% {background-image:url("../media/astronaut.png"); right:0; top:0;}
}


nav.trongsuot{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.4);
    padding: 0 100px ;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3),
    0 2px 2px rgba(0,0,0,0.3),
    0 4px 4px rgba(0,0,0,0.3),
    0 8px 8px rgba(0,0,0,0.3),
    0 16px 16px rgba(0,0,0,0.3);
    z-index: 999;
    font-family: Quantico;

}
.marqueee{
    text-shadow: 0 1px 2px;
}
nav .brand{
    float: left;
    height: 100%;
    line-height: 80px;
}
nav .brand h2{
    margin: 0;
    padding: 0;
    color: #fff;
}
nav ul{
    float: right;
    display: flex;
    margin:0;
    padding: 0;
}
nav ul li{
    list-style: none;
    font-size: 90%;
}
nav ul li a{
    position: relative;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s
}

nav ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    z-index: -1;
    transform: scaleX(0);
    transition:  transform 0.5s;

}
nav ul li a:hover:before{
    transform-origin: left;
    transform: scaleX(1);
}
nav ul li a:hover{
    color: #262626;
}
.section2{
    padding: 15px;
    letter-spacing: .1em;
    font-family: Quantico;
    font-weight: 700;
    font-style: normal;
    color: #f9fcfd;
    font-size: 32px;
    text-shadow: 0 1px 2px;
    text-transform: uppercase;
}
.stylish-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0));
    margin-bottom: 65px;
    text-decoration-line:overline;
    text-decoration-style: dashed;
}


#navbarSupportedContent {
    background-color: #333;
    transition: background-color 0.5s ease;
    height: 80px;
    color:#ffffff;

    background: rgba(0,0,0,0.6);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    /* other styles */
}

#navbarSupportedContent.scrolled {
    background-color: #142237;
    background-image: url("../media/logo/nen.jpg");
}
.Introduction-to-astronomy.Introduction{
    font-family: "Open Sans";
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #9eb4cc;
    font-size: 14px;
    background-color: #16263d;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: inherit;

}
#Introduction {
    white-space:pre-wrap;

}

/*dropdown*/
.dropbtn {
    padding: 0;
    background: rgba(0,0,0,0);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    color: black;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

header{
    background-image: url("../media/img123.png");
    position: relative;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 0;
    overflow: hidden;
    border: none;
    width: 100%;
    height: 180px;
    color: white;
}
.section2 p{
    font-size: small;
    font-family: 'Open Sans', sans-serif;
}
.background-section{
    background-image: url("../media/hero-map.png");
    width: 100%;
    ruby-align: center;
}
.section2 i{
    font-size: 30px;
}
.hrr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 111, 254), rgba(0, 0, 0, 0));
    margin-bottom: 65px;
    text-decoration-line:overline;

}
.contact-form{
    display: flex;
}
.button-send{
    border-image: -webkit-linear-gradient(45deg, #14a5d3, #20baa0) 10 stretch;
    width: 150px;
    height: 40px;
    background: rgba(0,0,0,0.06);
}
.social{
    display: flex;
}
.social-icon{
    background-color: #233144;
    padding: 20px;
    font-size: xx-large;
    color: #FFFFFF;
    border-color: #233144;
}

/*footer*/
footer{
    background-image: url("../media/logo/nen.jpg");
    font-family: Quantico;
}
footer p {
    color: #babbbc;
}
.footer-icon{
    background-color: #233144;
    padding: 30px 30px;
}
.footer-icon-nen{
    color: white;
    border-color: #6c757d;
    background: rgba(0,0,0,0.1);
}
.footer-icon-nen:hover{
    background-color: white;
    color: black;
}


/*search*/
.container-search{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    /* position: relative; */
}
.container-search input#search{
    width: 250px;
    height: 40px;
    background: #283041;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-search input#search::-webkit-input-placeholder {
    color: #65737e;
}
.container-search input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}
.container-search input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}
.container-search input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-search button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #FFFFFF;
    height: 40px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

/* ANIMATION EFFECT */
.container-search:hover button.icon, .container-search:active button.icon, .container-search:focus button.icon{
    outline:none;
    opacity: 1;
    margin-left: -50px;
    cursor: pointer;
}