body{
    font-family: "Open Sans";
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #9eb4cc;
    font-size: 14px;
    background-color: #16263d;
    background-repeat: repeat;

}
.image img{
    width: 750px;
    height: 507px
}
.file-text h2{
    font-family: Quantico;
    font-weight: 700;
    font-style: normal;
    color: #f9fcfd;
    font-size: 24px;
    margin: 0 auto;
    visibility: visible;

}
.video{
    text-align: center;
}
.file-text .left{
    text-align: left;
}

.file-text h3{
    font-size: calc(1.3rem + .6vw);
    font-family: Quantico;
    font-weight: 700;
    font-style: normal;
    color: #f9fcfd;
    font-size: 18px;
}
.project img{
    width: 800px;
    height: 570px;
}


