.image-big img{
    width: 730px;
    height: 400px;
}
.stream{
    white-space: pre;
}
.image-big{
    margin-bottom: 30px;
}
.spacing{
    margin-top: 150px;
}

.image-onclick img {
    width: 170px;
    height: 100px;
    margin-right: 10px;
    /*border-radius:10px;*/
    box-shadow: 0 0 10px #333;
    cursor: pointer;
}
.image-onclick {
padding-bottom: 30px;
}
.image-smail img{
    width: 300px;
    height: 300px;
}
.thumbnail-caption-inner .fa{
    transform: translate(-36px, 10px)!important;
}

