section{
    font-family: 'Open Sans', sans-serif
}
.inset{
    border-style: inset;
    width: 800px;
    height: auto;
    display: flex;
}

section h3{
    margin-left: 15px;
}
section p{
    margin: 10px 100px ;
    color: #FFFFFF;
}

.section img{
    width: 770px;
    height: 500px;
}
.thong-tin{
    display: flex;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.thong-tin ul li{
    padding: 10px;
}
.tags ul{
    list-style: none;
}
.tags a{
    display: inline-block;
    padding: 4px 12px;
    line-height: 1.75em;
    font-size: 14px!important;
    margin: 3px;
    -webkit-transition: .2s;
    transition: .2s;
    background: #213046;
    color: #f9fcfd;
}
.tags a:hover{
    background: #FFFFFF;
    color: black;
}
section nav{
    width: 50%;
    height: 70px;
    text-align: center;
}
section nav ul li{
    text-align: center;
    color: black;
}

/*thanh phân trang*/
.pagination ul{
    background-color: #1e3352;
}
.ccc button{
    height: auto;
}